<app-checkbox-hierarchy [node]="ageGroupNode"></app-checkbox-hierarchy>
<!-- <div class="checkboxes">
      <mat-checkbox [checked]="adult">Adult</mat-checkbox>
      <mat-checkbox [checked]="adolescent">Adolescent</mat-checkbox>
      <mat-checkbox [checked]="pediatric"
                    (change)="updateSubs($event)"
                    [indeterminate]="pediatricIndeterminate">Pediatric</mat-checkbox>
      <div class="subclasses" style="display: flex; flex-direction: column;">
        <mat-checkbox [(ngModel)]="child" (ngModelChange)="updateParent()">Child</mat-checkbox>
        <mat-checkbox [(ngModel)]="todler" (ngModelChange)="updateParent()">Toddler</mat-checkbox>
        <mat-checkbox [(ngModel)]="neonate" (ngModelChange)="updateParent()">Neonate</mat-checkbox>
      </div>
</div> -->
