<mat-form-field class="token-list" appearance="fill" [hintLabel]="hintLabel">
    <mat-label>{{label}}</mat-label>
    <mat-chip-grid #chipGrid aria-label="label">
      <mat-chip-row *ngFor="let selToken of selectedTokens" (removed)="remove(selToken)" [matTooltip]="selToken.definition">
        {{selToken.label}}
        <button matChipRemove [attr.aria-label]="'remove ' + selToken">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input [placeholder]="hint" #tokenInput [formControl]="tokenCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      type="search" autocomplete="off" name="notSearch"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let token of filteredTokens | async" [value]="token">
        {{token.label}} <span style="color: #a0a0a0;" *ngIf="token.synonyms.length > 0">(<span *ngFor="let syn of token.synonyms; let isLast=last">{{syn}}{{isLast ? '' : ', '}}</span>)</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>